<section class="ae-container-fluid  ae-container-fluid--inner rk-main">

    <div class="ae-grid au-xs-ta-center au-mb-4">
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-2"></div>
        <div class="ae-grid__item item-lg-4 ae-kappa au-mb-">
            <img [src]="dataService.myData.image" alt="Image not found" class="au-mb-3">
            <h5 class="ae-u-bolder au-mt-2">{{dataService.myData.name}}</h5>
            <p class="ae-u-bolder au-mb-3">{{dataService.myData.profession}}</p>
            <p class="au-lg-ta-left au-mb-3 au-pl-3 au-pr-3">{{dataService.myData.description}}</p>
            <a target="_blank" href="https://github.com/raulxiloj"
                class="ae-u-bolder au-underline">{{dataService.myData.github}}</a>
        </div>
    </div>

    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
        <div class="ae-grid__item--alt item-lg-5">
            <h6 class="ae-u-boldest">Skills</h6>
            <div class="ae-grid">
                <div class="ae-grid__item item-xs-3 item-sm-2 item-md-2 item-md--center item-lg--offset-1"
                    *ngFor="let skill of dataService.mySkills">
                    <img [src]="skill.image" alt="">
                </div>
            </div>
        </div>
        <div class="ae-grid__item--alt item-lg-5 item-lg--offset-1">
            <h6 class="ae-u-boldest">About me</h6>
            <p class="au-lh-3">
                {{dataService.myData.about}}
            </p>
        </div>
    </div>
    <!--
    <p class="au-flex au-pt-4 group-buttons">
        <a href="portfolio.html" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">
            View Our Portfolio
            <span class="arrow-cont">
                <svg>
                    <use xlink:href="assets/img/symbols.svg#arrow"></use>
                </svg>
            </span>
        </a>
    </p>
    -->

</section>